/*
Theme Name:Jaffe Terriers
Theme URI:http://plasterdog.com
Author:Jeff McNear
Author URI:http://plasterdog.com
Description:This is a custom theme based on underscores which has been configured to be compatible down to IE9 and "viewable" in IE8. This version is configured to allow for a standard horizontal menu, have as single widget region in a right sidebar and through the use of Advanced Custom Fields incorporate several different page configurations depending on the selected options. Recently expanded to include additional fields on the home page and a product post type

Version:1.5.1
License:GNU General Public License v2 or later
License URI:http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:pdog-flex
Tags:
*/
/*----------- OPEN SANS AVAILABLE WEIGHTS: 300,400,600,700 -----------------*/
/*---#010223;  derived from blue color ---*/
/*---- JAFFE COLORS --*/
/*#f36f21;*/
/*f32021 */
/*-- 85|44|38--*/
@font-face {
  font-family: my_underwoodregular;
  src: url("fonts/MyUnderwood.ttf"); }
@font-face {
  font-family: american-typewriter;
  src: url("fonts/american-typewriter.ttf"); }
.home-focus-section {
  position: absolute;
  top: 1em;
  right: 1em;
  max-width: 350px; }

.home-focus-section img {
  width: 300px !important;
  float: right; }

.home-focus-section h3 {
  color: #000000;
  margin: 0;
  font-size: 1.1em; }

.home-focus-section a:hover {
  text-decoration: none; }

@media screen and (max-width: 1200px) {
  .home-focus-section img {
    width: 250px !important; }

  .home-focus-section {
    max-width: 300px; }

  .home-focus-section h3 {
    font-size: .9em; } }
@media screen and (max-width: 1000px) {
  .home-focus-section img {
    width: 150px !important; }

  .home-focus-section {
    max-width: 200px; }

  .home-focus-section {
    position: absolute;
    top: 45%;
    right: 1em; }

  .home-focus-section h3 {
    font-size: .75em; } }
@media screen and (max-width: 600px) {
  .home-focus-section img {
    width: 100px !important; }

  .home-focus-section {
    max-width: 150px; }

  .home-focus-section h3 {
    font-size: .6em; } }
@media screen and (max-width: 450px) {
  .home-focus-section img {
    width: 75px !important; }

  .home-focus-section h3 {
    visibility: hidden;
    font-size: 0; } }
.single-publication .top-gap {
  padding-top: 3em; }

.single-publication .content-area h1, .single-publication .full-width-excerpt h1 {
  margin: 0; }

.single-publication .page_left_side.top-gap img {
  /* width: 80%; height: auto; margin: 0 10%;*/ }

.single-publication .product-container {
  width: 80%;
  margin: 0 10%;
  text-align: left; }

.single-publication .description-container {
  clear: both;
  padding-top: .5em; }

.single-publication .page_right_side li {
  list-style: none;
  margin: 0 0 .25em 0; }

.single-publication .page_right_side ul {
  margin: .25em 0 1em -1.5em; }

.tax-genre .top-gap {
  padding-top: 3em; }

.tax-genre .content-area h1, .single-publication .full-width-excerpt h1 {
  margin: 0; }

.tax-genre .page_left_side img {
  /* width: 250px; height: auto;float:left; */ }

.tax-genre .product-container {
  width: 80%;
  margin: 0 10%;
  text-align: left; }

.tax-genre .description-container {
  clear: both;
  padding-top: .5em; }

.tax-genre .page_right_side li {
  list-style: none;
  margin: 0 0 .25em 0; }

.tax-genre .page_right_side ul {
  margin: .25em 0 1em -1.5em; }

p.product-link {
  float: right;
  margin-top: 2em;
  font-weight: bold; }

/*--- ELIMINATING THE CAPTION IN FANCYBOX POPUPS --*/
#fancybox-title-over {
  visibility: collapse; }

/*--- GRAVITY FORMS ---*/
.gform_wrapper .top_label .gfield_label {
  display: -moz-inline-stack;
  display: inline-block;
  line-height: 1em;
  font-size: 1.23em;
  clear: both;
  font-family: "Lato", Tahoma, Verdana, Arial;
  color: #552c26; }

/*--------------THE HOME PAGE ---------*/
.hero-logo {
  text-align: center;
  padding: 0;
  position: relative;
  margin-bottom: 2em; }

.hero-logo img {
  width: 100%; }

#hero-logo-titles {
  position: absolute;
  top: 1em;
  width: 50%;
  margin: 0 25%;
  font-family: "my_underwoodregular", "american-typewriter", Georgia, Times, Times New Roman, serif; }

#hero-logo-titles h1 {
  color: #ffffff;
  font-family: "my_underwoodregular", "american-typewriter", Georgia, Times, Times New Roman, serif;
  font-size: 3em;
  line-height: 1em;
  padding-bottom: .25em;
  margin: 1em 0 0 0;
  letter-spacing: .15em; }

#hero-logo-titles h2 {
  color: #ffffff;
  font-family: "my_underwoodregular", "american-typewriter", Georgia, Times, Times New Roman, serif;
  font-size: 2em;
  line-height: 1em;
  margin: 0; }

#hero-logo-titles h3 {
  color: #ffffff;
  font-family: "my_underwoodregular", "american-typewriter", Georgia, Times, Times New Roman, serif; }

/* make keyframes that tell the start state and the end state of our object */
/*--- see: https://codepen.io/bluehaus/pen/EfGyi ---*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /*---nsets the default duration ---*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.half {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.fade-in.full {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s; }

/*--- THE HEADER REGION ----*/
.masthead-logo {
  float: left;
  width: 85px; }

.masthead-navigation {
  float: left;
  width: calc(100% - 150px); }

ul.social-icons {
  padding: 0;
  margin: 0;
  float: right;
  clear: both; }

ul.social-icons > li {
  display: inline-block;
  list-style: none;
  margin: 0 .25em;
  font-size: 1em;
  padding: 0;
  color: #ffffff; }

ul.social-icons > li a {
  color: #ffffff; }

ul.social-icons > li a:hover {
  color: #6197fb; }

.top-masthead-holder {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  text-align: center;
  border-bottom: none;
  /*-- could define break from header --*/
  filter: none !important;
  /*--- this is an IE8 workaround ---*/
  clear: both;
  padding: 0; }

.top-masthead-holder .name-side {
  float: left;
  width: 40%;
  text-align: left;
  font-family: "Walter Turncoat", Georgia, Times, Times New Roman, serif; }

.top-masthead-holder .name-side h1 {
  font-family: "Walter Turncoat", Georgia, Times, Times New Roman, serif;
  color: #ffea3c;
  margin: .25em 0 0 0;
  padding: 0;
  line-height: .75em;
  font-size: 1.75; }

.top-masthead-holder .name-side h1 a {
  color: #ffea3c;
  text-decoration: none; }

.top-masthead-holder .name-side h2 {
  font-family: "Walter Turncoat", Georgia, Times, Times New Roman, serif;
  color: #ffea3c;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 1.25em; }

.top-masthead-holder .name-side h2 a {
  color: #ffea3c;
  text-decoration: none; }

.top-masthead-holder .contact-side {
  float: right;
  width: 60%;
  margin-top: .25em; }

#masthead {
  width: 100%;
  margin: 0 auto .25em auto;
  top: 0;
  background: #ffffff;
  filter: none !important;
  border-bottom: solid 1px #653e07;
  border-top: solid 1px #653e07; }

.masthead-logo {
  float: left;
  width: 20%; }

.masthead-nav {
  float: right;
  width: 100%; }

.masthead-holder {
  padding: .1em 0;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  top: 0;
  background: #ffffff;
  text-align: center;
  border-bottom: none;
  /*-- could define break from header --*/
  filter: none !important;
  /*--- this is an IE8 workaround ---*/ }

.top-masthead-holder {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  background: #ffffff;
  text-align: left;
  border-bottom: none; }

.top-logo-side {
  float: left;
  position: absolute;
  z-index: 999;
  font-size: 2.5em; }

.top-logo-side a {
  color: #552c26; }

.top-logo-side a:hover {
  color: #0077a4;
  text-decoration: none; }

.top-contact-side {
  float: right;
  width: 78%;
  color: #552c26;
  margin-top: 1.1em; }

ul.top-social-icons {
  padding: 0;
  margin: 0;
  float: right; }

.top-contact-side .top-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.25em; }

.top-contact-side .social {
  float: right;
  text-align: right;
  width: 100%; }

.top-contact-side .social a {
  color: #552c26; }

.top-contact-side .social a:hover {
  color: #0077a4;
  text-decoration: none; }

.top-contact-side .icon-text {
  font-size: .75em; }

.masthead-holder {
  padding: .1em 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  background: #ffffff;
  text-align: center;
  border-bottom: none;
  /*-- could define break from header --*/
  filter: none !important;
  /*--- this is an IE8 workaround ---*/ }

@media screen and (max-width: 1200px) {
  .top-logo-side {
    float: left;
    position: relative;
    z-index: 999;
    font-size: 2.5em;
    width: 95%;
    margin-left: 5%; }

  .top-contact-side {
    float: left;
    width: 95%;
    margin-left: 5%;
    color: #552c26;
    margin-top: 0em; }

  ul.top-social-icons {
    padding: 0;
    margin: 0;
    float: left; } }
@media screen and (max-width: 800px) {
  .masthead-navigation {
    float: left;
    width: 95%; } }
@media screen and (max-width: 600px) {
  .top-logo-side {
    font-size: 2em; } }
@media screen and (max-width: 400px) {
  .top-logo-side {
    font-size: 1.5em; } }
/*--------------------------------------------------------------Normalize it!--------------------------------------------------------------*/
html {
  font-family: "Lato", Tahoma, Verdana, Arial;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #808285;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*--------------------------------------------------------------Default Typography--------------------------------------------------------------*/
body, button, input, select, textarea {
  font-family: "Lato", Tahoma, Verdana, Arial;
  color: #000000;
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Lato", Tahoma, Verdana, Arial; }

p {
  margin-bottom: 1.5em;
  font-family: "Lato", Tahoma, Verdana, Arial; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #ffffff;
  font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #6e6e6e;
  cursor: help; }

mark, ins {
  background: #ffffff;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------Default Elements--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background-color: #ffffff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

hr {
  background-color: #3f3f3f;
  border: 0;
  height: 1px;
  margin: .75em 0; }

ul, ol {
  margin: 0 0 1em .5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------Default Forms--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #808285;
  border-radius: 3px;
  background: #552c26;
  color: #ffffff;
  font-size: 1em;
  line-height: 1;
  padding: .5em 1em; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #808285;
  border-radius: 3px;
  background: #100101;
  color: #ffffff; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #000000;
  border: 1px solid #lightGreyColor;
  border-radius: 3px; }

select {
  border: 1px solid #eeeeee; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  color: #000000; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------Default Accessibility--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #ffffff;
  border-radius: 3px;
  clip: auto !important;
  color: #100101;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------Default Alignments--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------Default Clearings--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after,
.site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------Widgets--------------------------------------------------------------*/
.widget {
  margin: 0; }

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------Default Content--------------------------------------------------------------*/
/*--------------------------------------------------------------Default Posts and pages--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline, .updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------Default Asides--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------Default Comments--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------Default Infinite scroll--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------Default Media--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

/*--------------------------------------------------------------Default Captions--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------Default Galleries--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*----------------------------------------------------------------PDOG STYLING ---------------------------------------------------*/
/*---------------------------------------------------------------General purpose -------------------------------------------------*/
.clear {
  clear: both; }

.twentybump {
  padding-top: 20px; }

/*--------------------------------------------------------------Links--------------------------------------------------------------*/
a {
  color: #3b546a;
  text-decoration: none; }

a:visited {
  color: #3b546a; }

a:hover, a:focus, a:active {
  color: #0077a4;
  text-decoration: underline; }

a:focus {
  outline: 0; }

a:hover, a:active {
  outline: 0; }

/*---------------------------------------------------------------UNIVERSAL STARTING STYLES (IE8 inclusive)--------------------*/
#page {
  /*padding-bottom:8em; */ }

/*-- makes room for footer in scroll --*/
.entry-content li {
  margin-bottom: .5em; }

/*--------------------------------------------------------------Navigation--------------------------------------------------------------*/
/*---------------------DEFAULT DISPLAY OF MAIN MENU | CANNOT GO MOBILE FIRST BECAUSE OF IE8 -------------------------*/
/*--- NAVIGATION ---*/
/*--- hides the responsive menu ---*/
.menu-toggle {
  display: none; }

.main-navigation ul {
  display: block; }

/*--- related to the dropping search entry field ---*/
.top-nav-bar, .top-search-section {
  display: inline-block;
  float: right;
  margin-top: .25em; }

.site-header .search-form {
  position: relative;
  background-image: url("./images/mglass.png");
  background-repeat: no-repeat;
  top: 0;
  padding-bottom: 0; }

.site-header .search-field {
  background-color: transparent;
  background-size: 24px 33px;
  border: none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
  transition: width 400ms ease, background 400ms ease;
  width: 0; }

.site-header .search-field:focus {
  background-color: #ffffff;
  border: 2px solid #808285;
  cursor: text;
  outline: 0;
  width: 230px;
  margin-top: 50px;
  margin-left: -230px; }

.search-form .search-submit {
  display: none; }

@media screen and (max-width: 600px) {
  /*---dropping search causes issues at this width so it has to go away!--*/
  .top-search-section {
    display: none; } }
/*--- MAIN & FIRST LEVEL CONTROLS ---*/
/*--- hides the responsive menu ---*/
.menu-toggle {
  display: none; }

.main-navigation ul {
  display: block; }

/*--- NAVIGATION: MAIN & FIRST LEVEL CONTROLS ---*/
.main-navigation {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  /*height:2em; */
  /*background-color:$turquoiseColor;*/
  background: transparent;
  margin-top: 0; }

.main-navigation ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
  /*text-align determines menu position */
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: -.25em; }

.main-navigation li {
  position: relative;
  margin-right: .5em;
  font-size: 1em;
  display: inline-block;
  float: none;
  /* need to neutralize float explicitly */
  padding: .5em;
  background: transparent;
  color: #552c26;
  /*-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;*/
  /*border:solid 1px $blackColor;border-bottom:none;*/ }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em 0 .5em .5em; }

.main-navigation li:hover {
  background: transparent; }

.main-navigation li:hover a {
  color: #000000; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #552c26;
  text-transform: uppercase;
  font-size: 1em; }

.main-navigation a:hover {
  color: #000000;
  text-decoration: underline; }

.main-navigation li.current-menu-item a, .main-navigation li.current_page_item a {
  background: transparent;
  color: #552c26;
  text-decoration: underline; }

.main-navigation li.current_page_item {
  background: transparent;
  color: #552c26; }

.main-navigation .current-menu-item {
  color: #ffffff;
  background: transparent; }

.main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a,
.main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item {
  background: transparent;
  color: #552c26; }

/*--- SECOND LEVEL CONTROLS ---*/
.main-navigation ul ul li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: 0.5em; }

.main-navigation ul ul {
  margin-left: 0;
  display: block;
  float: left;
  position: absolute;
  top: 2.5em;
  left: 0;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: #ffffff; }

.main-navigation ul ul li {
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0; }

.main-navigation ul ul li a {
  color: #552c26; }

.main-navigation ul ul li a:hover, .main-navigation ul ul li :hover {
  text-decoration: underline;
  background: #ffffff none repeat scroll 0% 0%;
  color: #552c26; }

.main-navigation li.current-menu-item a li, .main-navigation li.current_page_item a li {
  background: #000000;
  color: #552c26; }

.main-navigation ul ul li.current-menu-item a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item, .main-navigation ul ul li.current_page_item {
  background: #ffffff none repeat scroll 0% 0%;
  color: #552c26; }

.main-navigationli.current-menu-item li a, .main-navigation li.current_page_item li a {
  background: #ffffff; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 300px; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 300px;
  overflow: hidden;
  left: 0; }

.main-navigation ul li:last-child:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 300px;
  overflow: hidden;
  left: -150px;
  /*---pushes dropdown to left --*/ }

/*--- controls the dropdown colors ---*/
.main-navigation ul li:hover > ul a {
  color: #552c26; }

.main-navigation ul li:hover > ul li {
  background-color: #ffffff; }

.main-navigation ul li.current-menu-item ul li a {
  background: #ffffff;
  color: #552c26; }

.main-navigation ul ul li.current_page_item {
  background: #ffffff;
  color: #552c26; }

/* -----------------------------TYPOGRAPHY OVER-RIDES ----------------*/
.entry-content aside {
  margin: 2em auto;
  font-style: italic;
  width: 80%;
  margin: .5em auto 1.5em auto;
  color: #100101;
  font-weight: 400;
  position: relative;
  padding: .75em 1.25em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  -moz-box-shadow: 0 0 4px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  box-shadow: 0 0 5px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  max-width: 720px; }

.entry-content aside:before, .entry-content aside:after {
  position: absolute;
  width: 50%;
  height: 10px;
  content: ' ';
  left: 15px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  -moz-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  box-shadow: 3px 6px 9px rgba(3, 86, 30, 0.8);
  z-index: -1; }

.entry-content aside:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg); }

.content-area aside {
  margin: 2em auto;
  font-style: italic;
  width: 80%;
  margin: .5em auto 1.5em auto;
  color: #100101;
  font-weight: 400;
  position: relative;
  padding: .75em 1.25em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  -moz-box-shadow: 0 0 4px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  box-shadow: 0 0 5px rgba(3, 86, 30, 0.5), inset 0 0 1px rgba(3, 86, 30, 0.5);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  max-width: 720px; }

.content-area aside:before, .content-area aside:after {
  position: absolute;
  width: 50%;
  height: 10px;
  content: ' ';
  left: 15px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  -moz-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  box-shadow: 3px 6px 9px rgba(3, 86, 30, 0.8);
  z-index: -1; }

.content-area aside:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg); }

.content-area blockquote {
  margin: 2em auto;
  font-style: italic;
  width: 80%;
  margin: .5em auto 1.5em auto;
  color: #100101;
  font-weight: 400;
  position: relative;
  padding: .75em 1.25em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1px rgba(85, 44, 38, 0.5), inset 0 0 1px rgba(85, 44, 38, 0.5);
  -moz-box-shadow: 0 0 4px rgba(85, 44, 38, 0.5), inset 0 0 1px rgba(85, 44, 38, 0.5);
  box-shadow: 0 0 5px rgba(85, 44, 38, 0.5), inset 0 0 1px rgba(85, 44, 38, 0.5);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  max-width: 720px; }

.content-area blockquote:before, .content area blockquote:after {
  position: absolute;
  width: 50%;
  height: 10px;
  content: ' ';
  left: 15px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  -moz-box-shadow: 0 6px 12px rgba(3, 86, 30, 0.8);
  box-shadow: 3px 6px 9px rgba(3, 86, 30, 0.8);
  z-index: -1; }

.content-area blockquote:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg); }

.content-area figure {
  margin: 1em; }

#content figcaption {
  font-size: .75em; }

.entry-content figure {
  margin: 1em; }

.entry-content .alignleft {
  margin-right: 2em; }

.entry-content .alignright {
  margin-left: 2em; }

.entry-content h1, .content-area h1, .full-width-excerpt h1 {
  font-size: 1.25em;
  color: #552c26;
  font-weight: 700;
  margin: .5em 0; }

.entry-content h2, .content-area h2, .full-width-excerpt h2 {
  font-size: 1.25em;
  color: #552c26;
  font-weight: 400;
  margin: .5em 0; }

.entry-content h3, .content-area h3, .full-width-excerpt h3 {
  font-size: 1.1em;
  color: #552c26;
  font-weight: 700;
  margin: .5em 0; }

.entry-content h4, .content-area h4, .full-width-excerpt h4 {
  font-size: 1.1em;
  color: #552c26;
  font-weight: 400;
  margin: .5em 0; }

.entry-content h5, .content-area h5, .full-width-excerpt h5 {
  font-size: 1em;
  color: #552c26;
  font-weight: 700;
  margin: .5em 0; }

.entry-content h6, .content-area h6, .full-width-excerpt h6 {
  font-size: 1em;
  color: #552c26;
  font-weight: 400;
  margin: .5em 0; }

p {
  margin-bottom: 1.5em;
  margin-top: -.5em;
  color: #100101; }

/*--- DOUBLED SHADOW EFFECT ON PAGE TITLES => https://www.sitepoint.com/pure-css3-paper-curls/ <= ---*/
h1.entry-title {
  color: #552c26; }

h1.entry-title a {
  color: #3b546a; }

h1.entry-title a:hover {
  text-decoration: underline;
  color: #0077a4; }

/*--- ENDS DOUBLED SHADOW EFFECT ---*/
h1.entry-title .sub-entry-title {
  color: #100101; }

h1.entry-title .sub-entry-title:before {
  content: "|";
  color: #808285;
  padding: 0 .25em; }

.page-content, .entry-content, .entry-summary {
  margin: 0; }

p.site-description {
  margin: 0; }

h1.site-title {
  margin: 0; }

h2.entry-title {
  margin: .25em 1.5em; }

/*--- header ---*/
#page {
  position: relative;
  padding-top: 8.25em; }

/*--- PAGE SPLITS ---*/
.page_left_side {
  float: left;
  width: 48%; }

.page_right_side {
  float: right;
  width: 48%; }

@media screen and (max-width: 799px) {
  .page_left_side, .page_right_side {
    float: left;
    width: 100%; } }
#page {
  position: relative;
  padding-top: 0;
  background-image: url("./images/lighter-noise.png");
  background-repeat: repeat; }

#fixed-header {
  position: relative;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999; }

.top-masthead-holder .one-third {
  padding-top: 1.2em; }

/*--- CONTROLS POSITION OF HEADER BUTTON---*/
.top-masthead-holder h2.service-request {
  border: solid 1px #808285;
  display: inline;
  font-weight: normal;
  font-size: .95em;
  text-transform: uppercase;
  padding: .5em 2em;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  background: transparent;
  color: #808285;
  letter-spacing: .2em;
  /*--- adjustment ---*/ }

.top-masthead-holder h2.service-request:hover {
  background: transparent;
  color: #ffffff;
  border: solid 1px #808285;
  letter-spacing: .2em;
  /*--- adjustment ---*/ }

@media screen and (max-width: 400px) {
  .top-masthead-holder h2.service-request {
    font-size: .85em;
    letter-spacing: 0em;
    /*--- adjustment ---*/ }

  .top-masthead-holder h2.service-request:hover {
    font-size: .85em;
    letter-spacing: 0em;
    /*--- adjustment ---*/ } }
@media screen and (max-width: 275px) {
  .top-masthead-holder h2.service-request {
    padding: .5em; } }
.top-masthead-holder h2.phone-contact {
  font-size: 1.1em;
  /*--- adjustment --*/
  text-transform: uppercase;
  position: relative;
  top: 0;
  font-weight: 700;
  letter-spacing: .25em;
  color: #244194;
  text-align: right; }

.top-masthead-holder h2.phone-contact:hover {
  color: #981b1e; }

.top-masthead-holder .two-thirds {
  float: left;
  width: 60%;
  text-align: left; }

/*--- really just 60% ---*/
.top-masthead-holder .block-section {
  float: left;
  display: inline-block;
  width: auto; }

.top-masthead-holder .one-half {
  float: left;
  width: 50%;
  text-align: left; }

.top-masthead-holder.one-third {
  float: left;
  width: 40%;
  text-align: left;
  padding-top: 1.2em; }

/*--- really just 60% ---*/
@media screen and (max-width: 950px) {
  .top-masthead-holder {
    padding: 1em 0; }

  #home-hero h2 {
    position: relative;
    top: 50px;
    padding-bottom: 50px; } }
@media screen and (max-width: 450px) {
  .top-masthead-holder h2.phone-contact {
    display: block;
    font-weight: normal;
    font-size: .95em;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    font-weight: 600;
    letter-spacing: .25em;
    text-align: left; }

  .top-masthead-holder .one-third {
    padding-top: 0; } }
/*----------------------------------BASIC LAYOUT  -----------*/
/*---- CONTAINERS | IE8 version where min-width media query is not understood---*/
.two-thirds {
  float: left;
  width: 60%; }

.block-section {
  float: left;
  display: inline-block;
  width: auto; }

.one-half {
  float: left;
  width: 50%;
  text-align: left; }

.one-third {
  float: left;
  width: 30%;
  text-align: left;
  margin: 0 3% 0 1%; }

.one-third:nth-of-type(3) {
  margin: 0 1% 0 1%; }

@media screen and (max-width: 800px) {
  .one-third, .one-third:nth-of-type(3) {
    width: 80%;
    margin: 0 10% 0 10% !important; }

  .top-masthead-holder .one-third {
    width: 40%;
    margin: 0 !important; } }
@media screen and (max-width: 800px) {
  .top-masthead-holder .one-third, .top-masthead-holder .two-thirds {
    width: 100%;
    margin: 0 !important;
    text-align: left; }

  ul.social-icons {
    padding: 0 !important;
    margin: 0;
    float: left; } }
.masthead-holder {
  padding: 0; }

.site-branding, .site-info {
  width: 90%;
  max-width: 1200px;
  margin: 0em auto;
  padding: 1em 0; }

.site-main {
  margin: 0 28% 0 0;
  padding-top: 0; }

#content {
  width: 90%;
  max-width: 1200px;
  min-height: 700px;
  margin: 0em auto;
  padding: 0 0 1em 0; }

.content-area {
  float: left;
  margin: -.5em -28% 0 0;
  width: 100%;
  background-color: transparent; }

/*--- THIS FORCES THE HEADER IMAGE TO GO FULL WIDTH AND BE POSITIONED CORRECTLY ---*/
img.top-header-image {
  width: 100%;
  margin-top: 1.5em;
  height: auto; }

/*--- SIDEBAR AREAS OF FOCUS ---*/
.widget ul.areas-of-focus {
  margin: 0;
  padding: 0; }

.widget ul.areas-of-focus li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.widget ul.areas-of-focus li img {
  width: 40%;
  height: auto;
  margin: 0 30%; }

.widget ul.areas-of-focus li h2 {
  color: #808285;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 600; }

.widget h1 {
  color: #100101;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center; }

#secondary h2.side-contact {
  border: solid 1px #808285;
  display: block;
  font-weight: normal;
  font-size: .95em;
  text-transform: uppercase;
  padding: .5em 2em;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  background: #036fc1;
  color: #ffffff;
  text-align: center;
  margin-top: -1em; }

#secondary h2.side-contact:hover {
  background: #ffffff;
  color: #244194; }

/*--- SIDEBAR---*/
h2.widget-title {
  color: #552c26;
  font-size: 1.25em;
  margin: 0; }

#secondary {
  padding: 0;
  margin-top: 1em; }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 25%;
  background-color: transparent; }

.site-content .widget-area .widget_nav_menu {
  font-family: "Lato", Tahoma, Verdana, Arial;
  font-size: 1.25em; }

.site-content .widget-area ul {
  list-style: none;
  margin-left: 0;
  padding: 0; }

.site-content .widget-area ul li a {
  color: #552c26; }

.site-content .widget-area ul li a:hover {
  color: #0077a4;
  text-decoration: underline; }

.site-content .widget-area li.cat-post-item {
  margin-left: -2.5em;
  font-family: "Walter Turncoat", Georgia, Times, Times New Roman, serif;
  border: none; }

.cat-post-current .cat-post-title {
  font-weight: normal;
  text-transform: none; }

.site-content .widget-area .cat-post-title {
  display: inline-block;
  font-size: 1.25em; }

.site-content .widget-area .cat-post-widget h2.widget-title {
  visibility: collapse;
  height: 0;
  font-size: 0em; }

.site-content .widget-area .widget {
  padding: 0 1em;
  background-color: transparent; }

/*--- FOOTER ---*/
.site-footer {
  clear: both;
  width: 100%;
  background: #ffffff;
  filter: none !important;
  bottom: 0;
  z-index: 999;
  border-bottom: solid 1px #552c26;
  border-top: solid 1px #552c26; }

.site-info {
  text-align: right;
  font-size: .75em;
  color: #552c26; }

.site-info a {
  text-decoration: none;
  font-size: 1.25em; }

.site-info a:hover {
  text-decoration: underline; }

#lower-nav {
  width: 100%;
  background-color: transparent;
  padding: 2em 0;
  color: #ffffff;
  font-size: .85em; }

#lower-nav a, #lower-nav p {
  color: #whiteColor; }

#lower-nav a:hover {
  color: #333333; }

#lower-nav p {
  padding-bottom: 1em; }

.lower-nav-constraint {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto; }

.lower-nav-constraint .lower-left-section {
  float: left;
  width: 75%; }

.lower-nav-constraint .lower-left-section ul.navsection {
  padding: 0;
  margin: 0;
  list-style: none; }

.lower-nav-constraint .lower-left-section .navsection li {
  float: left;
  width: 20%; }

.lower-left-section .navsection .widget ul {
  padding: 0;
  margin: 0; }

.lower-left-section .navsection .widget li {
  float: none;
  width: 100%;
  list-style: none;
  margin-right: 1em;
  line-height: 1.7em;
  /*--- adjustment ---*/ }

.lower-left-section .navsection .widget li ul {
  visibility: collapse;
  height: 0;
  font-size: 0; }

#lower-nav .lower-left-section .navsection .widget li:first-of-type a {
  color: #9bc6e7;
  text-transform: uppercase; }

.lower-right-section h4 a {
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: normal; }

.lower-nav-constraint .lower-right-section {
  float: right;
  width: 25%;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  top: -.9em; }

.lower-nav-constraint .lower-right-section .fa {
  font-size: 1.25em;
  margin-right: .5em; }

@media screen and (max-width: 999px) {
  .lower-nav-constraint .lower-right-section {
    float: left;
    width: 90%;
    margin-left: 5em; }

  .lower-nav-constraint .lower-left-section {
    float: left;
    width: 90%;
    margin-left: 5em; } }
@media screen and (max-width: 799px) {
  .lower-nav-constraint .lower-left-section .navsection li {
    float: left;
    width: 90%;
    margin-left: 0em; }

  .lower-nav-constraint .lower-left-section .navsection ul {
    margin-bottom: 2.5em; } }
/*---- ARCHIVE ARRAYS ---*/
.archive-thumb {
  float: left;
  width: 20%;
  margin-top: .25em; }

.archive-thumb img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; }

.archive-excerpt {
  float: right;
  width: 77%;
  margin-top: .25em; }

.archive-excerpt p {
  margin: 0; }

.full-width-excerpt p {
  margin: 0; }

h1.archive-title, .archive-excerpt h1, .full-width-excerpt h1 {
  margin: 0;
  color: #244194;
  font-weight: normal;
  padding-top: 0;
  font-size: 1.5em; }

.achive-link {
  display: inline; }

/*--- DOUBLED SHADOW EFFECT ON PAGE TITLES => https://www.sitepoint.com/pure-css3-paper-curls/ <= ---*/
h1.archive-header {
  /*margin: 0 auto;*/
  margin: .5em 0 1.5em 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.25em;
  border-bottom: 1px solid #57472f;
  position: relative;
  width: 100%;
  padding: .75em 1.25em;
  background-color: #57472f;
  -webkit-box-shadow: 0 0 1px rgba(87, 71, 47, 0.5), inset 0 0 1px rgba(87, 71, 47, 0.9);
  -moz-box-shadow: 0 0 1px rgba(87, 71, 47, 0.5), inset 0 0 1px rgba(87, 71, 47, 0.9);
  box-shadow: 0 0 1px rgba(87, 71, 47, 0.5), inset 0 0 1px rgba(87, 71, 47, 0.9);
  border-radius: 10px 10px 10px 10px;
  width: 80%;
  max-width: 720px; }

h1.archive-header:before, h1.archive-header:after {
  position: absolute;
  width: 50%;
  height: 10px;
  content: ' ';
  left: 15px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(87, 71, 47, 0.9);
  -moz-box-shadow: 0 6px 12px rgba(87, 71, 47, 0.9);
  box-shadow: 3px 6px 9px rgba(87, 71, 47, 0.9);
  z-index: -1; }

h1.archive-header:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg); }

/*--- ENDS DOUBLED SHADOW EFFECT ---*/
/*---- CONTAINERS ---*/
/*---for full width configurations -- eliminated top padding and magins to tighten things up ---*/
.full-content-area {
  float: none;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  min-height: 500px; }

@media screen and (max-width: 1100px) {
  .full-site-main {
    margin: 1em auto;
    padding-top: 0; } }
/*--- WALKING DOWN THE CONTAINER SIZES RELATIVE TO SCREEN SIZE ------*/
@media screen and (max-width: 1000px) {
  #content, .site-branding, .site-info {
    width: 100%;
    max-width: 900px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1000px) {
  #content, .site-branding, .site-info {
    width: 95%;
    max-width: 900px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 799px) {
  .site-main {
    margin: 0; }

  .widget ul.areas-of-focus li img {
    width: 30%;
    height: auto;
    margin: 0 35%; }

  .site-footer {
    clear: both;
    width: 100%;
    background: #ffffff;
    color: #552c26;
    position: none;
    bottom: 0;
    z-index: 999; }

  .masthead-logo {
    float: left;
    width: 125px; }

  .masthead-nav {
    float: none;
    width: auto; }

  .content-area, .site-content .widget-area {
    width: 100%; }

  .home .masthead-logo {
    visibility: visible; }

  /* Small menu. */
  .menu-toggle, .main-navigation.toggled ul {
    display: block;
    background: #ffffff;
    position: absolute;
    z-index: 999; }

  .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden; }

  .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: left;
    width: 50%; }

  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%; }

  button.menu-toggle, input.menu-toggle[type="button"] {
    border: none;
    border-radius: 0px;
    background: transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 15px 17px rgba(255, 255, 255, 0), inset 0 -5px 12px rgba(0, 0, 0, 0);
    color: #552c26;
    font-size: 1.5em;
    line-height: 1;
    padding: .25em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0); }

  /*--- PUSHING THE MENU TO THE RIGHT AND MAKING SURE THE OPENED MENU IS BELOW THE ICON-----*/
  button.menu-toggle, input.menu-toggle[type="button"] {
    float: right;
    margin-top: 0em; }

  /*--- CENTERS THE MENU ON ACTIVATION ----*/
  .main-navigation ul {
    margin: 0 20%; }

  /*--- NAVIGATION RELATED --*/
  .main-navigation {
    clear: both;
    display: table;
    width: 100%;
    background-color: #ffffff; }

  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-bottom: -.25em;
    text-align: left;
    background: #ffffff;
    text-align: left;
    border: solid 1px;
    width: 60%; }

  .main-navigation ul ul {
    width: 300px;
    margin: 0 0 0 -0.5em !important; }

  .main-navigation li {
    display: table;
    background: #ffffff;
    font-size: 1.25em; }

  .main-navigation ul li.current-menu-item ul li a {
    background: #ffffff;
    color: #552c26;
    text-decoration: none; }

  .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item {
    background: transparent;
    color: #552c26;
    text-decoration: none; }

  .main-navigation li a:hover {
    text-decoration: underline; }

  .main-navigation ul ul li {
    display: table;
    background: #000000; }

  .main-navigation ul ul li a {
    color: #000000; }

  .main-navigation li:last-child {
    display: table;
    background: #ffffff;
    font-size: 1.25em;
    /*padding:.5em 1em;*/ }

  .main-navigation a {
    display: block;
    text-decoration: none; }

  .main-navigation ul ul {
    background: #000000;
    display: block;
    float: left;
    left: 0;
    margin-left: 1em;
    opacity: 1;
    position: static !important;
    text-align: left;
    top: 2.5em;
    transition: all 0.5s ease-in-out 0s;
    visibility: visible;
    z-index: 999999;
    border: none;
    margin-top: -.5em; }

  .main-navigation ul ul li:last-child {
    position: relative;
    margin-right: 0;
    margin-bottom: .25em;
    display: inline-block;
    padding: .5em 0 .5em .45em; }

  .main-navigation ul ul li a, .main-navigation ul ul li a, .main-navigation ul ul li, .main-navigation ul ul li {
    background: #ffffff none repeat scroll 0% 0%;
    color: #552c26;
    font-size: .9em; }

  .main-navigation ul ul li a {
    color: #000000;
    background: #ffffff none repeat scroll 0% 0%;
    color: #ffffff; }

  .main-navigation ul li:hover > ul a, .main-navigation ul li:hover > ul li {
    color: #000000;
    width: auto;
    background: #ffffff; }

  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {
    display: block;
    left: 0;
    opacity: 1;
    overflow: hidden;
    transition: none;
    visibility: visible;
    width: auto; }

  .main-navigation ul ul li, .main-navigation ul ul li:hover {
    background: #ffffff;
    color: #552c26;
    font-size: 1em;
    margin-left: 1em; }

  .main-navigation ul ul li a {
    color: #552c26; }

  .main-navigation, .flexbox .main-navigation {
    clear: both;
    display: block;
    width: 100%; }

  /* Small menu. */
  .menu-toggle {
    display: block;
    background: #ffffff;
    position: absolute;
    z-index: 9999; }

  .main-navigation.toggled ul {
    display: block;
    background: #ffffff;
    position: absolute;
    z-index: 9999; }

  .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden; }

  .top-nav-bar, .top-search-section {
    display: inline-block;
    float: left;
    margin-top: 2em; }

  /*--- ENDS NAVIGATION RELATED --*/
  .top-search-section {
    display: inline-block;
    float: left;
    visibility: collapse; }

  .top-masthead-holder .name-side {
    float: left;
    width: 100%;
    text-align: left; }

  .top-masthead-holder .contact-side {
    float: left;
    width: 100%; } }
/*--- letting the activated menu go to full width at small sizes - LEFT JUSTIFIED ICON ---*/
@media screen and (max-width: 700px) {
  .main-navigation ul {
    width: 75%; }

  .main-navigation ul li ul li, .main-navigation ul li ul li a, .main-navigation ul li ul:hover {
    background: transparent; }

  .main-navigation li:last-child {
    width: 200px; }

  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {
    display: block;
    left: 0;
    opacity: 1;
    overflow: hidden;
    transition: none;
    visibility: visible;
    width: 250px; }

  .main-navigation ul li ul {
    margin: 0 0 0 .5em; }

  #hero-logo-titles h1 {
    color: #ffffff;
    font-size: 1.25em; }

  #hero-logo-titles h2 {
    color: #ffffff;
    font-size: 1em; } }
@media screen and (max-width: 560px) {
  .main-navigation ul {
    width: 100%; }

  #hero-logo-titles {
    position: absolute;
    top: 0;
    width: 70%;
    margin: 0 15%; }

  .archive-thumb {
    float: left;
    width: 100%;
    margin-top: .25em;
    text-align: center; }

  .archive-thumb img {
    width: 60%;
    height: auto;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px; }

  .archive-excerpt {
    float: left;
    width: 100%;
    margin-top: .25em; }

  .archive-excerpt h1 {
    text-align: center; }

  .entry-content {
    float: left;
    width: 90%;
    margin: .25em 5% 0 5%; } }

/*# sourceMappingURL=style.css.map */
