.home-focus-section{position:absolute; top:1em; right:1em;max-width:350px; }
.home-focus-section img{width:300px!important; float:right;}
.home-focus-section h3{color:$blackColor;margin:0;font-size: 1.1em;}
.home-focus-section a:hover{text-decoration: none;}

@media screen and (max-width: 1200px) {
.home-focus-section img{width:250px!important;}
.home-focus-section{max-width:300px; }
.home-focus-section h3{font-size: .9em;}
}

@media screen and (max-width: 1000px) {
.home-focus-section img{width:150px!important;}
.home-focus-section{max-width:200px; }
.home-focus-section { position: absolute; top: 45%; right: 1em;}
.home-focus-section h3{font-size: .75em;}
}
@media screen and (max-width: 600px) {
.home-focus-section img{width:100px!important;}
.home-focus-section{max-width:150px; }
.home-focus-section h3{font-size: .6em;}
}
@media screen and (max-width: 450px) {
.home-focus-section img{width:75px!important;}
.home-focus-section h3{visibility:hidden; font-size: 0;}
}