.single-publication .top-gap{padding-top:3em;} 
.single-publication .content-area h1, .single-publication .full-width-excerpt h1 {margin: 0;}
.single-publication .page_left_side.top-gap img {/* width: 80%; height: auto; margin: 0 10%;*/}
.single-publication .product-container{width:80%; margin:0 10%; text-align:left;}
.single-publication .description-container{clear:both; padding-top:.5em;}
.single-publication .page_right_side li{list-style: none;margin: 0 0 .25em 0;}
.single-publication .page_right_side ul { margin: .25em 0 1em -1.5em;}

.tax-genre .top-gap{padding-top:3em;} 
.tax-genre .content-area h1, .single-publication .full-width-excerpt h1 {margin: 0;}
.tax-genre .page_left_side img {/* width: 250px; height: auto;float:left; */}
.tax-genre .product-container{width:80%; margin:0 10%; text-align:left;}
.tax-genre .description-container{clear:both; padding-top:.5em;}
.tax-genre .page_right_side li{list-style: none;margin: 0 0 .25em 0;}
.tax-genre .page_right_side ul { margin: .25em 0 1em -1.5em;}


p.product-link {float: right; margin-top: 2em;font-weight: bold;}